body{
  padding-top: 110px;
}

h2, p.lead{
  text-align: center;
}

/*nav section*/
.test_row{
  background-color: red;
  padding:5px 15px;
}

.test_row>p{
  margin-bottom: 0;
}

.test_row2{
  background-color: white;
}

.middle_row{
  height: 50px;
  float: none;
}


.company_name{
  float: none;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.company_name>h1{
  font-size: 34px;
  font-weight: 900;
  margin: 0;
  display:inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 50px;

}

 .navbar-default .navbar-nav>li>a {
    float: none;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    }
#bs-example-navbar-collapse-1.navbar-collapse.collapse.in{
  background-color: white;
}

nav.navbar.navbar-default{
  border: none;
  border-radius: 0;
  background-color: yellow;
  height: auto;
}


/*a, a:hover, a:active, a:visited{
  text-decoration: none;
  color: white;
}*/

@media(min-width: 768px){
  .navbar-nav{
        height: 30px;
        float: none; }
    .set-center{
    float: none;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    }
    .navbar-nav>li>a{
      /*(width - line-height(1.1)/2)*/
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    }
  }

/*jumborotn section*/
.bg_test{
  background: url(/images/bgimage1.png);
}

.jumbotron_test{
  color: red;
}

.embed_img{
  padding: 0;
}

.hero_img{
  background: url(/images/bgimage1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 40%;

}

/*navbar-brand visible-xs has -15px left margin*/

.types{
  text-align: center;
}
.test{
  background-color: yellow;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.pink{
  background-color: #dd8bc6;
}


/*table list*/
.check_list1>ul>li{
  list-style-type: none !important;
  font-size: 28px;
  line-height: 1.5;
  padding: 0.5em 0;
  /*margin: auto;*/
}

.check_list1>ul>li:before {
  font-family: FontAwesome;
  font-size: 40px;
  content: "\f046";
  position: relative;
  padding-top: 0.5em;
  /*left: 0.5em;*/
  color: blue;
  vertical-align: middle;
}

#map{
  width: 100%;
  height: 300px;
  background-color: grey;
}

footer{
  height: 70px;
  margin-top: 2em;
  text-align: center;
  color: white;
  background-color: blue;
}

footer.footer p{
  padding-top: 2em;
}